{
    "path": "cz-emoji",
    "config": {
        "cz-emoji": {
            "types": [
                {
                    "emoji": "🎨",
                    "code": "style:art:",
                    "description": "Improving structure / format of the code.",
                    "name": "style"
                },
                {
                    "emoji": "⚡️",
                    "code": "perf:zap:",
                    "description": "Improving performance.",
                    "name": "perf"
                },
                {
                    "emoji": "🔥",
                    "code": "prune:fire:",
                    "description": "Removing code or files.",
                    "name": "prune"
                },
                {
                    "emoji": "🐛",
                    "code": "fix:bug:",
                    "description": "Fixing a bug.",
                    "name": "fix"
                },
                {
                    "emoji": "🚑",
                    "code": "hotfix:ambulance:",
                    "description": "Critical hotfix.",
                    "name": "quickfix"
                },
                {
                    "emoji": "✨",
                    "code": "feature:sparkles:",
                    "description": "Introducing new features.",
                    "name": "feature"
                },
                {
                    "emoji": "📝",
                    "code": "docs:memo:",
                    "description": "Writing docs.",
                    "name": "docs"
                },
                {
                    "emoji": "🚀",
                    "code": "deploy:rocket:",
                    "description": "Deploying stuff.",
                    "name": "deploy"
                },
                {
                    "emoji": "💄",
                    "code": "ui:lipstick:",
                    "description": "Updating the UI and style files.",
                    "name": "ui"
                },
                {
                    "emoji": "🎉",
                    "code": "init:tada:",
                    "description": "Initial commit.",
                    "name": "init"
                },
                {
                    "emoji": "✅",
                    "code": "test:white_check_mark:",
                    "description": "Adding tests.",
                    "name": "test"
                },
                {
                    "emoji": "🔒",
                    "code": "security:lock:",
                    "description": "Fixing security issues.",
                    "name": "security"
                },
                {
                    "emoji": "🍎",
                    "code": "osx:apple:",
                    "description": "Fixing something on macOS.",
                    "name": "osx"
                },
                {
                    "emoji": "🐧",
                    "code": "linux:penguin:",
                    "description": "Fixing something on Linux.",
                    "name": "linux"
                },
                {
                    "emoji": "🏁",
                    "code": "windows:checkered_flag:",
                    "description": "Fixing something on Windows.",
                    "name": "windows"
                },
                {
                    "emoji": "🤖",
                    "code": "android:robot:",
                    "description": "Fixing something on Android.",
                    "name": "android"
                },
                {
                    "emoji": "🍏",
                    "code": "ios:green_apple:",
                    "description": "Fixing something on iOS.",
                    "name": "ios"
                },
                {
                    "emoji": "🔖",
                    "code": "release:bookmark:",
                    "description": "Releasing / Version tags.",
                    "name": "release"
                },
                {
                    "emoji": "🚨",
                    "code": "lint:rotating_light:",
                    "description": "Removing linter warnings.",
                    "name": "lint"
                },
                {
                    "emoji": "🚧",
                    "code": "wip:construction:",
                    "description": "Work in progress.",
                    "name": "wip"
                },
                {
                    "emoji": "💚",
                    "code": "fix:green_heart:",
                    "description": "Fixing CI Build.",
                    "name": "fix-ci"
                },
                {
                    "emoji": "⬇️",
                    "code": "downgrade:arrow_down:",
                    "description": "Downgrading dependencies.",
                    "name": "downgrade"
                },
                {
                    "emoji": "⬆️",
                    "code": "upgrade:arrow_up:",
                    "description": "Upgrading dependencies.",
                    "name": "upgrade"
                },
                {
                    "emoji": "📌",
                    "entity": "&#x1F4CC;",
                    "code": "pin:pushpin:",
                    "description": "Pinning dependencies to specific versions.",
                    "name": "pushpin"
                },
                {
                    "emoji": "👷",
                    "code": "ci:construction_worker:",
                    "description": "Adding CI build system.",
                    "name": "ci"
                },
                {
                    "emoji": "📈",
                    "code": "analytics:chart_with_upwards_trend:",
                    "description": "Adding analytics or tracking code.",
                    "name": "analytics"
                },
                {
                    "emoji": "♻️",
                    "code": "refact:recycle:",
                    "description": "Refactoring code.",
                    "name": "refactoring"
                },
                {
                    "emoji": "➖",
                    "code": "dep:heavy_minus_sign:",
                    "description": "Removing a dependency.",
                    "name": "dep-rm"
                },
                {
                    "emoji": "🐳",
                    "code": "docker:whale:",
                    "description": "Work about Docker.",
                    "name": "docker"
                },
                {
                    "emoji": "➕",
                    "code": "dep:heavy_plus_sign:",
                    "description": "Adding a dependency.",
                    "name": "dep-add"
                },
                {
                    "emoji": "🔧",
                    "code": "config:wrench:",
                    "description": "Changing configuration files.",
                    "name": "config"
                },
                {
                    "emoji": "🌐",
                    "code": "i18n:globe_with_meridians:",
                    "description": "Internationalization and localization.",
                    "name": "i18n"
                },
                {
                    "emoji": "✏️",
                    "code": "typo:pencil2:",
                    "description": "Fixing typos.",
                    "name": "typo"
                },
                {
                    "emoji": "💩",
                    "code": "poo:poop:",
                    "description": "Writing bad code that needs to be improved.",
                    "name": "poo"
                },
                {
                    "emoji": "⏪",
                    "code": "revert:rewind:",
                    "description": "Reverting changes.",
                    "name": "revert"
                },
                {
                    "emoji": "🔀",
                    "code": "merge:twisted_rightwards_arrows:",
                    "description": "Merging branches.",
                    "name": "merge"
                },
                {
                    "emoji": "📦",
                    "code": "dep:package:",
                    "description": "Updating compiled files or packages.",
                    "name": "dep-up"
                },
                {
                    "emoji": "👽",
                    "code": "compat:alien:",
                    "description": "Updating code due to external API changes.",
                    "name": "compat"
                },
                {
                    "emoji": "🚚",
                    "code": "mv:truck:",
                    "description": "Moving or renaming files.",
                    "name": "mv"
                },
                {
                    "emoji": "📄",
                    "code": "license:page_facing_up:",
                    "description": "Adding or updating license.",
                    "name": "license"
                },
                {
                    "emoji": "💥",
                    "code": "breaking:boom:",
                    "description": "Introducing breaking changes.",
                    "name": "breaking"
                },
                {
                    "emoji": "🍱",
                    "code": "assets:bento:",
                    "description": "Adding or updating assets.",
                    "name": "assets"
                },
                {
                    "emoji": "👌",
                    "code": "review:ok_hand:",
                    "description": "Updating code due to code review changes.",
                    "name": "review"
                },
                {
                    "emoji": "♿️",
                    "code": "access:wheelchair:",
                    "description": "Improving accessibility.",
                    "name": "access"
                },
                {
                    "emoji": "💡",
                    "code": "docs:bulb:",
                    "description": "Documenting source code.",
                    "name": "docs-code"
                },
                {
                    "emoji": "🍻",
                    "code": "beer:beers:",
                    "description": "Writing code drunkenly.",
                    "name": "beer"
                },
                {
                    "emoji": "💬",
                    "code": "texts:speech_balloon:",
                    "description": "Updating text and literals.",
                    "name": "texts"
                },
                {
                    "emoji": "🗃",
                    "code": "db:card_file_box:",
                    "description": "Performing database related changes.",
                    "name": "db"
                },
                {
                    "emoji": "🔊",
                    "code": "log:loud_sound:",
                    "description": "Adding logs.",
                    "name": "log-add"
                },
                {
                    "emoji": "🔇",
                    "code": "log:mute:",
                    "description": "Removing logs.",
                    "name": "log-rm"
                },
                {
                    "emoji": "👥",
                    "code": "contrib:busts_in_silhouette:",
                    "description": "Add contributor(s).",
                    "name": "contrib-add"
                },
                {
                    "emoji": "🚸",
                    "code": "ux:children_crossing:",
                    "description": "Improving user experience / usability.",
                    "name": "ux"
                },
                {
                    "emoji": "🏗",
                    "entity": "&#1f3d7;",
                    "code": "architecture:building_construction:",
                    "description": "Making architectural changes.",
                    "name": "building-construction"
                },
                {
                    "emoji": "📱",
                    "entity": "&#128241;",
                    "code": "iphone:iphone:",
                    "description": "Working on responsive design.",
                    "name": "iphone"
                },
                {
                    "emoji": "🤡",
                    "entity": "&#129313;",
                    "code": "mock:clown_face:",
                    "description": "Mocking things.",
                    "name": "clown-face"
                },
                {
                    "emoji": "🥚",
                    "entity": "&#129370;",
                    "code": "egg:egg:",
                    "description": "Adding an easter egg.",
                    "name": "egg"
                },
                {
                    "emoji": "🙈",
                    "entity": "&#8bdfe7;",
                    "code": ".gitignore:see_no_evil:",
                    "description": "Adding or updating a .gitignore file",
                    "name": "see-no-evil"
                },
                {
                    "emoji": "📸",
                    "entity": "&#128248;",
                    "code": "snapshot:camera_flash:",
                    "description": "Adding or updating snapshots",
                    "name": "camera-flash"
                },
                {
                    "emoji": "🛠",
                    "code": "chore:hammer_and_wrench:",
                    "description": "Routine tasks, not adding any new features or breaking tests",
                    "name": "chore"
                }
            ]
        }
    }
}
