# {{projectName}}

[![License](https://img.shields.io/github/license/{{author_display_name}}/{{projectName}}.svg)](https://github.com/{{author_display_name}}/{{projectName}}/blob/master/LICENSE)
[![Travis](https://img.shields.io/travis/com/{{author_display_name}}/{{projectName}}.svg)](https://travis-ci.com/{{author_display_name}}/{{projectName}})
[![Commitizen friendly](https://img.shields.io/badge/commitizen-friendly-brightgreen.svg)](http://commitizen.github.io/cz-cli/)
[![Commitizen friendly](https://img.shields.io/badge/commitizen--style-emoji-brightgreen.svg)](https://github.com/ngryman/cz-emoji)

[![Flutter channel](https://img.shields.io/badge/flutter--channel-{{flutterChannel}}-blue.svg)](https://github.com/flutter/flutter/tree/{{flutterChannel}})

## About

{{description}}

## Getting Started

For help getting started with Flutter, view it's online
[documentation](https://flutter.io/).

## Contributing

- :fork_and_knife: Fork this repo
- Clone your forked version  
  `git clone https://github.com/<you>/{{projectName}}.git`

- :heavy_plus_sign: Add this repo as a remote  
  `git remote add upstream https://github.com/{{author_display_name}}/{{projectName}}.git`

- :arrow_double_up: Make sure you have recent changes  
  `git fetch upstream`

- :sparkles: Make a new branch with your proposed changes/fixes/additions  
  `git checkout upstream/master -b name_of_your_branch`

- :bookmark_tabs: Make sure you follow guidelines for [Git](#git)
- Push your changes  
  `git push origin name_of_your_branch`

- Make a pull request

## Git

- :white_check_mark: Sign all commits. [Learn more](https://help.github.com/articles/signing-commits/)
- Use [commitizen](http://commitizen.github.io/cz-cli/) with [emoji](https://github.com/ngryman/cz-emoji) adapter
- Check existing commits to get an idea
- Run all pre-commit commands (e.g. `dartfmt`, `flutter test`, `dartanalyzer`)
- If you're adding an `and` in your commit message, it should probably be separate commits
- Link relevant issues/commits with a `#` sign in the commit message
- Limit message length to 72 characters (excluding space required for linking issues/commits)
- Add commit description if message isn't enough for explaining changes

## Code style

- Line width: 120
- Maintain consistencies using included `.editorconfig`
- Everything else as per standard dart [guidelines](https://www.dartlang.org/guides/language/effective-dart/style)

## Testing

- Add tests for each new addition/feature
- Do not remove/change tests when refactoring
  - unless fixing already broken test.

## License

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Please see the LICENSE file in this repository for the full text
