{
    "License header": {
        "scope": "dart",
        "prefix": "header",
        "body": [
            "// {{projectName}}, Copyright (C) $CURRENT_YEAR ${1:Dinesh Ahuja (devkabiir) <dev@kabiir.me>}.",
            "// Licensed under the GPLv3 or later that can be",
            "// found in the LICENSE file.",
        ],
        "description": "adds GPL license header"
    }
}
